<h2>カテゴリー一覧</h2>
<%= link_to "＋ カテゴリー追加", new_category_path %><br />
<ul>
<% @categories.each do |category| %>
  <li>
    <%= category.color %> <%= category.name %>
    <%= link_to "編集", edit_category_path(category.id) %>
    <%= link_to "削除", category_path(category.id), data: { turbo_method: :delete } %>
  </li>
<% end %>
</ul>

<%= link_to "＜ KIlOQへ戻る", new_record_path %>