新規カテゴリー登録<br />
<br />
<%= form_with model: @category, local: true do |f|%>
    <%= f.label :name, "カテゴリー名" %>
    <%= f.text_field :name %>
<br />
    <%= f.label :color, "ラベル色" %>
    <%= f.color_field :color %><br />
<br />
  <div class="actions">
    <%= f.submit "登録"  %>
  </div>
<% end %>
<br />
<%= link_to "＜ 一覧に戻る", categories_path %>